<section class="copyright">
    Copyright © {{ cur_year }} {{ blog.title }}<br />
    Powered by <a href="https://github.com/PeterCxy/paprika" target="_blank">paprika</a><br />
    Hosted on <a href="https://workers.cloudflare.com/" target="_blank">Cloudflare Workers</a>
</section>