{{> modal.hbs }}
<!-- Footer is only needed on mobile -->
<!-- On desktop, put everything to sidebar -->
<div class="footer">
    {{> copyright.hbs }}
</div>
<script src="/static/script.js?ver={{ build_num }}"></script>