<!-- The Modal -->
<!-- https://www.w3schools.com/howto/howto_css_modal_images.asp -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

</div>