<html lang="{{ blog.lang }}">
    {{> head.hbs}}
    <body>
        {{> loading.hbs }}
        <div class="page-wrapper">
            {{> sidebar.hbs }}
            <article class="content">
                <h1 id="paprika-post-title">{{ title }}</h1>
                <span class="date">{{ format_date timestamp "%e %b, %Y" }}</span>
                {{{ content }}}
            </article>
        </div>
        <div class="toc-wrapper hidden">
            <div class="toc">
            <!-- This will be generated dynamically by JavaScript -->
            <!-- We don't handle this in backend -->
            </div>
        </div>
        {{> foot.hbs }}
    </body>
</html>